{# templates/home/home.html.twig #}
{% extends 'base.html.twig' %}

{% block head %}
	<script>
		const ruta_producto_categoria = "{{ path('productos_por_categoria', { 'categoria': '_' }) }}"
		const ruta_producto_marca = "{{ path('productos_por_marca', { 'marca': '_' }) }}"
	</script>
	<script src="{{asset("js/categoria.js")}}" defer></script>
	<script src="{{asset("js/marca.js")}}" defer></script>
{% endblock %}
{% block body %}
	<div class="container">
		<ul class="nav nav-tabs" id="categoryTab" role="tablist">
			{% for categoria in categorias %}
				<li class="nav-item" role="presentation">
					<button data-categoria="{{categoria.categoria}}" class="categorias-btn nav-link {% if loop.first %}active{% endif %}" id="tab-{{ categoria.categoria }}" data-bs-toggle="tab" data-bs-target="#content-{{ categoria.categoria }}" type="button" role="tab" aria-controls="content-{{ categoria.categoria }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ categoria.categoria }}</button>
				</li>
			{% endfor %}
		</ul>
		<div class="tab-content" id="categoryTabContent">
			{% for categoria in categorias %}
				<div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="content-{{ categoria.categoria }}" role="tabpanel" aria-labelledby="tab-{{ categoria.categoria }}">
					<div id="products" class="product-list">
						{% for producto in productos %}
							<div class="product-card">
								<a class="product-link" href="{{ path('producto_detalle', { 'id': producto.id }) }}">
									<img src="{{ asset(producto.imagen) }}" alt="{{ producto.nombre }}">
									<h3>{{ producto.nombre }}</h3>
								</a>
								<p class="price">
									<span class="current-price">{{ producto.precio }}€</span>
								</p>
								<button class="add-to-cart" data-id="{{producto.id}}" data-nombre="{{producto.nombre}}" data-precio="{{producto.precio}}" data-imagen="{{producto.imagen}}">Añadir al carrito</button>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<br>
	<br>

	<div class="container">
		<ul class="nav nav-tabs" id="marcaTab" role="tablist">
			{% for marca in marcas %}
				<li class="nav-item" role="presentation">
					<button data-marca="{{marca.marca}}" class="marcas-btn nav-link {% if loop.first %}active{% endif %}" id="tab-{{ marca.marca }}" data-bs-toggle="tab" data-bs-target="#content-{{ marca.marca }}" type="button" role="tab" aria-controls="content-{{ marca.marca }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ marca.marca }}</button>
				</li>
			{% endfor %}
		</ul>
		<div class="tab-content" id="marcaTabContent">
			{% for marca in marcas %}
				<div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="content-{{ marca.marca }}" role="tabpanel" aria-labelledby="tab-{{ marca.marca }}">
					<div id="products-marca" class="product-list">
						{% for producto_marca in productos_marca %}
							<div class="product-card">
								<a class="product-link" href="{{ path('producto_detalle', { 'id': producto_marca.id }) }}">
									<img src="{{ asset(producto_marca.imagen) }}" alt="{{ producto_marca.nombre }}">
									<h3>{{ producto_marca.nombre }}</h3>
								</a>
								<p class="price">
									<span class="current-price">{{ producto_marca.precio }}€</span>
								</p>
								<button class="add-to-cart" data-id="{{producto_marca.id}}" data-nombre="{{producto_marca.nombre}}" data-precio="{{producto_marca.precio}}" data-imagen="{{producto_marca.imagen}}">Añadir al carrito</button>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}