{#<!-- templates/home/home.html.twig -->#}
{% extends 'base.html.twig' %}

{% block head %}
	<script>
		const ruta_producto_categoria = "{{ path('productos_por_categoria', { 'categoria': '_' }) }}"
	</script>
	<script src="{{asset("js/categoria.js")}}" defer></script>
{% endblock %}
{% block body %}
	<div class="container">
		<div class="tab-content" id="categoryTabContent">
			<div class="tab-pane fade show active" role="tabpanel" >
				<div id="products" class="product-list">
					{% for producto in productos %}
						<div class="product-card">
							<img src="{{ asset(producto.imagen) }}" alt="{{ producto.nombre }}">
							<h3>{{ producto.nombre }}</h3>
							<p class="price">
								<span class="current-price">{{ producto.precio }}€</span>
							</p>
							<button class="add-to-cart" data-id="{{producto.id}}" data-nombre="{{producto.nombre}}" data-precio="{{producto.precio}}">Añadir al carrito</button>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
