{# templates/home/producto_buscado.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Resultados de la Búsqueda{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Resultados de la Búsqueda</h1>

        {% if productos is not empty %}
            <div class="row">
                {% for producto in productos %}
                    <div class="col-md-4 mb-4">
                        <div class="product-card {{ producto.stock == 0 ? 'out-of-stock' : '' }}">
                            <a href="{{ path('producto_detalle', { 'id': producto.id }) }}" class="product-link">
                                <img src="{{ asset(producto.imagen) }}" class="card-img-top" alt="{{ producto.nombre }}">
                                <h3>{{ producto.nombre }}</h3>
                            </a>
                            <div class="card-body">
                                <p class="card-text">{{ producto.descripcion }}</p>
                                <p class="card-text"><strong>Precio: </strong>{{ producto.precio }}€</p>
                                {% if producto.descuento %}
                                    <p class="card-text text-danger"><strong>Descuento: </strong>{{ producto.descuento }}%</p>
                                {% endif %}
                                <p class="card-text"><strong>Stock disponible: </strong>{{ producto.stock }}</p>
                            </div>
                            <div class="card-footer">
                                {% if producto.stock > 0 %}
                                    <button class="btn btn-primary w-100 add-to-cart" data-id="{{ producto.id }}" data-nombre="{{ producto.nombre }}" data-precio="{{ producto.precio }}" data-imagen="{{ producto.imagen }}">
                                        Añadir al carrito
                                    </button>
                                {% else %}
                                    <button class="btn btn-primary w-100 notify-me" data-id="{{ producto.id }}" data-nombre="{{ producto.nombre }}" data-imagen="{{ producto.imagen }}" data-email="{{ app.user ? app.user.email : '' }}">
                                        Notificarme cuando haya stock
                                    </button>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('producto_detalle', { 'id': producto.id }) }}" class="btn btn-info w-100 mt-2">Ver Detalles</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No se encontraron productos con el término de búsqueda especificado.</p>
        {% endif %}
    </div>
{% endblock %}
