{% extends 'base.html.twig' %}

{% block title %}Cambia tu contraseña{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="card" style="width: 400px;">
            <div class="card-body">
                {% for flash_error in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                <h1 class="card-title text-center mb-4">Cambia tu contraseña</h1>
                {{ form_start(requestForm) }}
                <div class="mb-3">
                    {{ form_label(requestForm.email) }}
                    {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Tu correo electrónico'}}) }}
                </div>
                <div class="form-text mb-3">
                    Introduce tu dirección de correo electrónico y te enviaremos un link para cambiar tu contraseña.
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
