<!-- templates/cabecera.html.twig -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Logo de la tienda -->
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('images/logo.PNG') }}" alt="Electro Gamer" style="height: 60px;">
        </a>
        <!-- Botón de hamburguesa y todas las categorías -->
        <button class="full-categorias navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span>Categorías/Marcas</span>
        </button>
        <!-- Elementos de la barra de navegación -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex align-items-center">
                    <a class="full-categorias nav-link" href="#"><i class="bi bi-list"></i> Categorías / Marcas</a>
                </li>
            </ul>
            <!-- Barra de búsqueda central (opcional) -->
            <form  action="{{ path('buscador') }}" method="post" class="d-flex mx-auto">
                <div class="input-group" style="width: 700px">
                    <input class="form-control" type="search" placeholder="Buscar" name="titulo" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
            <!-- Iconos de cuenta y carrito -->
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="#" onclick="event.preventDefault(); cambiarModo();"><i class="bi bi-lamp"></i>Modo Oscuro/Claro</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="#" id="localizacion"><i class="bi bi-map"></i>¿Dónde nos encontramos?</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{ path('perfil') }}"><i class="bi bi-person"></i>Mi cuenta</a>
                        <a class="nav-link" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-right"></i></a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_login') }}"><i class="bi bi-person"></i>Iniciar sesión</a>
                    {% endif %}
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="mi-carrito nav-link position-relative" href="#">
                        <i class="bi bi-cart"></i>
                        <span class="position-relative badge rounded-pill bg-danger cart-badge">0</span>
                        Mi carrito
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>