{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Registro</h1>

    {{ form_errors(registroForm) }}

    {{ form_start(registroForm) }}
    {{ form_row(registroForm.email) }}
    {{ form_row(registroForm.nombre) }}
    {{ form_row(registroForm.apellidos) }}
    {{ form_row(registroForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registroForm.photo) }}
    {{ form_row(registroForm.agreeTerms) }}

    <button type="submit" class="btn">Registro</button>
    {{ form_end(registroForm) }}
{% endblock %}