{# templates/compra/confirmacion_compra.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Confirmación de Compra{% endblock %}

{% block body %}
    <div class="container my-5">
        <h2>¡Compra realizada con éxito!</h2>
        <p>Gracias por tu compra. A continuación, se muestran los detalles de tu pedido:</p>

        <div class="card mt-4">
            <div class="card-header">
                <h3>Detalles del Pedido</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% if compras is not empty %}
                        {% for compra in compras %}
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <span>{{ compra.nombreProducto }}</span>
                                    <span>{{ compra.unidades }} x {{ (compra.precio_compra / compra.unidades) | number_format(2, ',', '.') }} €</span>
                                </div>
                                <div class="mt-1">
                                    <small class="text-muted">Precio total: {{ compra.precio_compra | number_format(2, ',', '.') }} €</small>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No hay compras registradas para este pedido.</li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-footer">
                <h4>Total: {{ pedido.getTotal | number_format(2, ',', '.') }} €</h4>
                <h4>Total con IVA (21%): {{ pedido.getTotalConIva | number_format(2, ',', '.') }} €</h4>
            </div>
        </div>

        <a href="{{ path('home') }}" class="btn btn-primary mt-4">Volver a la Página Principal</a>
        <a href="{{ path('descargar_factura', { 'pedidoId': pedido.id }) }}" class="btn btn-secondary mt-4">Descargar Factura</a>
    </div>
{% endblock %}
